@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  color-scheme: light;

  --color-primary: #403f3f;
  --color-secondary: #1447e6;
  --color-base-100: #ffffff;
  --color-base-200: #d4d4d4;
  --color-base-300: #1e2939;

  --color-accent: #4a5565;
  --color-base-content: #1f1f1f;
  --color-shadow: rgba(0, 0, 0, 0.15);
}

@plugin "daisyui/theme" {
  name: "dark";
  prefersdark: true;
  color-scheme: dark;

  --color-primary: #d72050;
  --color-secondary: #403f3f;
  --color-base-100: #1e1e1e;
  --color-base-200: #404040;
  --color-base-300: #a6a09b;
  --color-accent: #a1a1a1;
  --color-base-content: #f3f3f3;

  --color-shadow: rgba(255, 255, 255, 0.15);
}

a.active {
  @apply bg-base-200 shadow-sm;
}
