@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  color-scheme: light;

  --color-primary: #403f3f;
  --color-secondary: #d72050;
  --color-base-100: #ffffff;
  --color-base-200: #f3f3f3;
  --color-base-300: #e7e7e7;
  --color-accent: #706f6f;
  --color-base-content: #1f1f1f;
}

@plugin "daisyui/theme" {
  name: "dark";
  prefersdark: true;
  color-scheme: dark;

  --color-primary: #d72050;
  --color-secondary: #403f3f;
  --color-base-100: #1e1e1e;
  --color-base-200: #2a2a2a;
  --color-base-300: #3a3a3a;
  --color-accent: #a1a1a1;
  --color-base-content: #f3f3f3;
}
